---
tags:
  - "!create_or_update:name": "Production"
    color: "ff0000"
    description: "Production environment"
  - "!create_or_update:name": "Development"
    color: "00ff00"
    description: "Development environment"
  - "!create_or_update:name": "Testing"
    color: "ffff00"
    description: "Testing environment"
