---
manufacturers:
  - "!create_or_update:name": "Arista"
  - "!create_or_update:name": "Nokia"
  - "!create_or_update:name": "unknown"
  - "!create_or_update:name": "Amazon Web Services"
  - "!create_or_update:name": "Microsoft Azure"
  - "!create_or_update:name": "Google Cloud Platform"