---
platforms:
  - "!create_or_update:name": "Arista EOS"
    manufacturer__name: "Arista"
    description: "Arista EOS operating system for routers and switches"
  - "!create_or_update:name": "Nokia SR Linux"
    manufacturer__name: "Nokia"
    description: "Nokia SR Linux operating system for routers and switches"
  - "!create_or_update:name": "Linux"
    manufacturer__name: "unknown"
    description: "Generic Linux operating system"
  - "!create_or_update:name": "Windows Server"
    manufacturer__name: "unknown"
    description: "Microsoft Windows Server operating system"
  - "!create_or_update:name": "VMware ESXi"
    manufacturer__name: "unknown"
    description: "VMware ESXi hypervisor"
  - "!create_or_update:name": "Docker"
    manufacturer__name: "unknown"
    description: "Docker container platform"
  - "!create_or_update:name": "Kubernetes"
    manufacturer__name: "unknown"
    description: "Kubernetes container orchestration platform"
