{# Base Configuration Template Using Config Context
   This template demonstrates how to use config context data for device configuration
   Config context provides: ntp_servers, dns_servers, syslog_hosts, snmp, timezone, domain_name
   Platform-specific data: cli_commands, management_interface, logging, banner, features
#}

{# Hostname Configuration #}
hostname {{ device.name }}
!
{# Domain Configuration #}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS - modern syntax #}
dns domain {{ domain_name }}
{% elif platform_specific.management_interface == 'mgmt0' %}
{# Nokia SR Linux #}
/ system name domain-name {{ domain_name }}
{% endif %}
!
{# DNS Configuration #}
{% if dns_servers %}
{% for dns_server in dns_servers %}
{% if platform_specific.cli_commands.show_version is defined and 'Arista' in platform_specific.cli_commands.show_version %}
ip name-server {{ dns_server }}
{% elif platform_specific.cli_commands.show_version is defined and 'Nokia' in platform_specific.cli_commands.show_version %}
/ system dns server-list [ {{ dns_server }} ]
{% endif %}
{% endfor %}
!
{% endif %}

{# NTP Configuration #}
{% if ntp_servers %}
{% for ntp_server in ntp_servers %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS #}
ntp server {{ ntp_server }}
{% elif platform_specific.management_interface == 'mgmt0' %}
{# Nokia SR Linux #}
/ system ntp server {{ ntp_server }}
{% endif %}
{% endfor %}
{% if platform_specific.ntp_source_interface %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS - modern syntax #}
ntp local-interface {{ platform_specific.ntp_source_interface }}
{% endif %}
{% endif %}
!
{% endif %}

{# Syslog Configuration #}
{% if syslog_hosts %}
{% for syslog in syslog_hosts %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS #}
logging host {{ syslog.host }}
{% elif platform_specific.management_interface == 'mgmt0' %}
{# Nokia SR Linux #}
/ system logging remote-server {{ syslog.host }} port {{ syslog.port }}
{% endif %}
{% endfor %}
{% if platform_specific.logging.source_interface %}
{% if platform_specific.management_interface == 'Management0' %}
logging source-interface {{ platform_specific.logging.source_interface }}
logging buffered {{ platform_specific.logging.buffer_size }}
{% endif %}
{% endif %}
!
{% endif %}

{# SNMP Configuration #}
{% if snmp %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS #}
snmp-server community {{ snmp.community }} ro
snmp-server location {{ snmp.location }}
{% elif platform_specific.management_interface == 'mgmt0' %}
{# Nokia SR Linux #}
/ system snmp community {{ snmp.community }} access-permissions ro
/ system snmp location {{ snmp.location }}
{% endif %}
!
{% endif %}

{# Banner Configuration #}
{% if platform_specific.banner.motd %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS #}
banner motd
{{ platform_specific.banner.motd }}
EOF
{% elif platform_specific.management_interface == 'mgmt0' %}
{# Nokia SR Linux #}
/ system banner login-banner {{ platform_specific.banner.motd }}
{% endif %}
!
{% endif %}

{# LLDP Configuration #}
{% if features.lldp %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS #}
lldp run
{% elif platform_specific.management_interface == 'mgmt0' %}
{# Nokia SR Linux #}
/ system lldp admin-state enable
{% endif %}
!
{% endif %}

{# Spanning Tree Configuration #}
{% if features.stp %}
{# Arista EOS #}
spanning-tree mode {{ features.stp }}
!
{% elif features.spanning_tree %}
{# Nokia SR Linux #}
/ system spanning-tree mode {{ features.spanning_tree }}
!
{% endif %}

{# Role-Specific Configuration for Access Switches #}
{% if role_specific %}
{% if device.role.name == "Access Switch" %}
{% if platform_specific.management_interface == 'Management0' %}
{# Arista EOS Access Switch Config #}
!
! Port Security (global)
{% if role_specific.port_security.enabled %}
! Port security will be applied per-interface
{% endif %}
!
! Default VLAN for access ports
vlan {{ role_specific.default_vlan }}
   name Default-Access-VLAN
!
! Allowed VLANs
{% for vlan_id in role_specific.allowed_vlans %}
vlan {{ vlan_id }}
{% endfor %}
!
{% endif %}
{% endif %}
{% endif %}

{# Save Configuration Command (platform-specific) #}
!
! To save this configuration, use:
! {{ platform_specific.cli_commands.save_config }}
!

